<p>
  main-login works! <br>
  main-login works! <br>
  Developed by {{developer}} <br>
  {{developer | uppercase}} is {{age}} years old<br>
  {{developer}} goes to {{school}}<br>
  Employee {{employee.name}} has experience of {{employee.yrsOfExperience}} years
</p>

<div class="text-center">
  Calling a function directly here that have age is {{updateAge}}
</div>

<div class="text-center">
    {{developer}} skills are : {{skills}} <br>
    {{developer}} First skills is : {{skills[0]}}
    <br>
    {{developer}} lived on : {{address[0]}}
  </div>
  <div>
    {{info[0]}} lives in {{info[1]}}, {{info[0]}} is {{info[2]}} years old. {{info[0]}} lived in {{info[3]}} since {{info[4]}}. Nicknam is {{info[5]}}
  </div>
